*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Maiandra GD', sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;
}
/*vertical lines section*/
body{
box-sizing:border-box;
}
.itstaffing_hero_section{
    width: 100%;
    height:auto;
    background-color: #fff9f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.staffing_text_content{
    width: 100%;
    height:auto;
    background-color: #fff9f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.staffing_text_content h3{
    width:60%;
    margin:0 auto;
    text-align: center;
}
.staffing_text_content p{
    width:60%;
    margin:0 auto;
    text-align: center;
} 
.staffing_text_content .Hire_tech_talent{
    width:auto;
    height:auto;
    border-radius: 15px;
    background-color: #4588df;
    border:none;
}
.Hire_tech_talent a{
    color:#f1efeb;
    font-weight: bold;
    margin:5px;
}
.Hire_tech_talent a:hover{
    text-decoration: none;
    color:#db9020;
}
.staffing_image{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.staffing_image img{
    width:40vw;
    height:40vw;
    object-fit: contain;
}
@media only screen and (max-width: 768px){
    .itstaffing_hero_section{
        flex-direction: column-reverse;
    }
    
    .staffing_image img{
        width:75vw;
        height:75vw;
    }

}
/*smartifyup hiring process*/
.smartifyUp_itstaffing_process{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smartifyUp_itstaffing_process .hiring_blocks{
    width:80%;
    height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hiring_blocks section{
    width:250px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.hiring_blocks section img{
    width:80px;
    height:80px;
    object-fit: contain;
}
.hiring_blocks section p{
    width:80%;
    margin: 0 auto;
    text-align: justify;
    word-spacing: -5px;
}
@media only screen and (max-width: 768px){
    .smartifyUp_itstaffing_process h2{
       font-size: 7.5vw;
    }
    .smartifyUp_itstaffing_process .hiring_blocks{
        width:80%;
        height:auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
/*ending of staffing process*/
/*beginning of why choose us*/
.why_choose_us{
    width:100%;
    height:auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why_choose_us h1{
    font-size:3vw;
}
.why_choose_us .choose_us_grid{
    width:80%;
    height:auto;
    border:1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
}
.choose_us_grid .why_choose_grid{
    width:250px;
    height:180px;
    border:1px solid black;
    margin-left:50px;
}
.why_choose_grid h5{
    margin-left:10px;
    font-size:1.8vw;
}
.why_choose_grid p{
    font-size: 13px;
    width:90%;
    margin:0 auto;
    text-align: justify;
}
@media only screen and (max-width: 768px){
    .why_choose_us h1{
        font-size:5.5vw;
    }
    .why_choose_us .choose_us_grid{
    width:auto;
    height:auto;
    border:1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    }
    .choose_us_grid .why_choose_grid{
        width:250px;
        height:180px;
        border:1px solid black;
        margin-left:20px;
        text-align: left;
    }
    .staffing_footer{
        margin-top:0px;
    }
}
@media only screen and (max-width:512px){
    .why_choose_us h1{
        font-size:8.5vw;
    }
    .why_choose_us .choose_us_grid{
        width:auto;
        height:auto;
        border:1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        }
        .choose_us_grid .why_choose_grid{
            width:250px;
            height:180px;
            border:1px solid black;
            margin-left:0px;
        }
        .staffing_footer{
            margin-top:0px;
        }
}