*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Maiandra GD', sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;
}
/*vertical lines section*/
body{
box-sizing:border-box;
}

.itstaffing_hero_section{
    width: 100%;
    height:auto;
    background-color: #fff9f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.staffing_text_content{
    width: 100%;
    height:auto;
    background-color: #fff9f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.staffing_text_content h3{
    width:60%;
    margin:0 auto;
    text-align: center;
}
.staffing_text_content p{
    width:60%;
    margin:0 auto;
    text-align: center;
} 
.staffing_text_content .Hire_tech_talent{
    width:auto;
    height:auto;
    border-radius: 15px;
    background-color: #4588df;
    border:none;
}
.Hire_tech_talent a{
    color:#f1efeb;
    font-weight: bold;
    margin:5px;
}
.Hire_tech_talent a:hover{
    text-decoration: none;
    color:#db9020;
}
.staffing_image{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.staffing_image img{
    width:40vw;
    height:40vw;
    object-fit: contain;
}
@media only screen and (max-width: 768px){
    .itstaffing_hero_section{
        flex-direction: column-reverse;
    }
    
    .staffing_image img{
        width:75vw;
        height:75vw;
    }

}
/*smartifyup hiring process*/
.hiring_categories{
    width: 100%;
    height:auto;
}
.our_specialities_sections{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.our_specialities_sections .staffing_process{
    width:350px;
    height:450px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.staffing_process img{
    margin-top:50px;
}
.staffing_process h6{
    margin-top:15px;
    font-weight: bold;
}
.staffing_process p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

@media only screen and (max-width: 768px){
    .our_specialities_sections{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .staffing_process{
        width:300px;
        height:400px;
        text-align: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top:25px;
    }
    .staffing_process img{
        margin-top:50px;
    }
    .staffing_process h6{
        margin-top:15px;
        font-weight: bold;
    }
    .staffing_process p{
        font-size:14px;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
}

/*ending of the hiring process*/
.smartifyUp_itstaffing_process{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smartifyUp_itstaffing_process .hiring_blocks{
    width:80%;
    height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hiring_blocks section{
    width:250px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.hiring_blocks section img{
    width:80px;
    height:80px;
    object-fit: contain;
}
.hiring_blocks section p{
    width:80%;
    margin: 0 auto;
    text-align: justify;
    word-spacing: -5px;
}
@media only screen and (max-width: 768px){
    .smartifyUp_itstaffing_process h2{
       text-align: center;
       font-size: 6.5vw;
    }
    .smartifyUp_itstaffing_process .hiring_blocks{
        width:80%;
        height:auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
/*ending of staffing process*/
/*beginning of why choose us*/
.why_choose_us{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why_choose_us h1{
    font-size:3vw;
}
.why_choose_us .choose_us_grid{
    width:80%;
    height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
}
.choose_us_grid .why_choose_grid{
    width:250px;
    height:180px;
    margin-left:50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.why_choose_grid:nth-child(4){
    margin-top:25px;
}
.why_choose_grid:nth-child(5){
    margin-top:25px;
}
.why_choose_grid:last-child{
    margin-top:25px;
}
.why_choose_grid h5{
    margin-left:10px;
    font-size:1.8vw;
}
.why_choose_grid p{
    font-size: 13px;
    width:90%;
    margin:0 auto;
    text-align: justify;
}
@media only screen and (max-width: 768px){
    .why_choose_us h1{
        font-size:5.5vw;
    }
    .why_choose_us .choose_us_grid{
    width:auto;
    height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    }
    .choose_us_grid .why_choose_grid{
        width:250px;
        height:180px;
        margin-left:20px;
        text-align: left;
    }
    .why_choose_grid h5{
        margin-left:10px;
        font-size:4.5vw;
    }
    .staffing_footer{
        margin-top:0px;
    }
}
@media only screen and (max-width:512px){
    .why_choose_us h1{
        font-size:8.5vw;
    }
    .why_choose_us .choose_us_grid{
        width:auto;
        height:auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        }
        .choose_us_grid .why_choose_grid{
            width:250px;
            height:180px;
            margin-left:0px;
        }
        .staffing_footer{
            margin-top:0px;
        }
}

/*executive search section title*/
.executive_Search_heading{
    width:80%;
    margin : 0 auto;
    text-align: center;
    margin-top:50px;
    font-size: 2.5vw;
}
/*executive search section beginning*/
.executiv_search{
    width:auto;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
        .executiv_search .executive_serch_box{
            width:200px;
            height:200px;
            text-align: center;
        }
.arrow-pointer {
    width: 200px;
    height: 50px;
    background: #32557f;
    position: relative;
    color:white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
    .arrow-pointer:after {
      content: '';
      position: absolute;
      left: 0; bottom: 0; width: 0; height: 0;
      border-left: 25px solid #ffffff;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }
  
    .arrow-pointer:before {
      content: '';
      position: absolute;
      right: -25px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 25px solid #32557f;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }
  
    @media only screen and (max-width:1024px){
        .executiv_search{
            width:auto;
            height:auto;
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-gap:20px;
        }   
    }
    /*@media only screen and (max-width:960px){
        .executiv_search{
            width:80%;
            height:auto;
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-gap:20px;
            margin:0 auto;
        }   
    }*/
    @media only screen and (max-width:960px){
        .executiv_search{
            width:90%;
            height:auto;
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-gap:20px;
            margin:0 auto;
        }   
    }
    @media only screen and (max-width:768px){
        .executiv_search{
            width:80%;
            height:auto;
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap:20px;
            margin:0 auto;
        }   
    }
    @media only screen and (max-width:540px){
        .executive_Search_heading{
            width:80%;
            margin : 0 auto;
            text-align: center;
            margin-top:50px;
            font-size: 5.5vw;
        }
        .executiv_search{
            width:80%;
            height:auto;
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap:20px;
            margin:0 auto;
        } 

        .executiv_search .executive_serch_box{
            width:200px;
            height:200px;
            
        }
        .arrow-pointer {
            width: 200px;
            height: 50px;
            background: #32557f;
            position: relative;
            color:white;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            margin-left:20px;
        }  
    }

    @media only screen and (max-width:480px){
        .executiv_search{
            width:80%;
            height:auto;
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap:20px;
            margin:0 auto;
        } 
        .arrow-pointer {
            width: 200px;
            height: 50px;
            background: #32557f;
            position: relative;
            color:white;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            margin-left:20px;
        }  
    }