*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Maiandra GD', sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;
}
/*vertical lines section*/
body{
box-sizing:border-box;
}
/*vertical lines ending*/
/*floating social icons section*/
.social_media_float{
    position: fixed;
    top:50%;
    width:60px;
    height:180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: transparent;
}
.social_media_float .social_icons{
width:25px;
height:25px;
display: flex;
justify-content: center;
align-items: center;
background-color: none;
}
.social_icons img{
    width:90%;
    height:90%;
    object-fit: fit;
}


/*floating socail icons section ending*/



.navbar{
    border:1px solid silver;
    border:none;
    background-color: #fff9f0;
  }
  #header-2{
    background-color: #fff9f0;
  }
  
  /* change the navbar background-color */
  #header-2 .bg-custom{
    background:#fff9f0;
  }
  
  /* change the navbar Hamburger toggler Icon */
  .custom-toggler.navbar-toggler {
      border:none;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,100,100, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler:focus, .navbar-toggler:active,.navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }
  
  /* change the brand color */
  .bg-custom .navbar-brand{
    color:black;
    font-size:30px;
    margin:0px;
    padding:0px;
  }
  
  /* change the text color */
  .nav-item{
    font-size:20px;
    font-weight:400;
    margin:0px 2px;
  }
  .nav-item a{
    color:black;
    margin-left:50px;
  }
  
  
  /* change the text color of active or hovered links */
  .bg-custom .nav-item.active .nav-link,
  .bg-custom .nav-item:hover .nav-link {
      color:#fff;
      background-color: #1b56c5; /* add background-color to active links */
      background-repeat: repeat;
      height: 100%;
      width: auto;
    border-radius:10px;
  }
  
  /* for dropdown only - change the color of droodown */
  .bg-custom .dropdown-menu {
     background: rgb(53,30,37);
  }
  .bg-custom .dropdown-item {
    color:yellowgreen;
    font-size:18px;
    padding:2px 10px;
    margin:5px 0px;
  }
  .bg-custom .dropdown-item:hover,
  .bg-custom .dropdown-item:focus {
      color: #fff;
      background-color:#0f0f;
  }
  
  @media (max-width:575px){
    .nav-item a{
      text-align:center;
    }
  }
  
  
  
  

/*top_nav styling section starting*/
/*
.headersection {
	width:100%;
	height:100px;
	display:flex;
	position: realtive;
    background-color:#fff9f0 ;
}
.logosection{
	width:250px;
	height:80px;
	align-items:center;
	display: flex;
	justify-content: center;
    margin-left: 50px;
}
.logosection img{
    width:200px;
    height:80px;
    margin-top:10px;
    object-fit: contain;
}
.logosection >a{
	margin-left: 35px;
}
.navbar {
	width:60%;
	height:60px;
    margin-left:100px;
}
.navbar > ul{
	display:flex;
	width:100%;
	gap:30px;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	
}
.navbar ul li{
	transition: all 200ms ease;
    font-size: 20px;
}
.navbar a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color:#000000;
	margin-top:15px;
}
.navbar li:last-child{
	margin-right:10px;
}
*/
/* ************************************ hover animation for nav links begin ******************************** */
/*.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
  }
  
  .hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }
  */
  /* Style the button that toggles the dropdown */
  /*
.dropbtn {
    background-color: #695f50;
    color: rgb(255, 255, 255);
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  */
  /* Style the dropdown content */
  /*
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius:10px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  */
  
  /* Style the links inside the dropdown */
  /*
  .dropdown-content a {
    color: black;
    font-size:14px;
    text-decoration: none;
    display: block;
  }
  */
  
  /* Show the dropdown when the button is hovered over */
  /*
  .dropdown:hover .dropdown-content {
    display: block;
  }
  */
  /*********************************************** ending hover animation for nav links **************************/
/*
 #burger{
	display: none;
	margin-top:5px;
	margin-right:25px;
 }
 @media (max-width: 1030px) {

    .logosection{
		width:25%;
		height:60px;
		align-items:center;
		display: flex;
		justify-content: center;
	}
    .logosection img{
        margin-top: 35px;;
    }
	.logosection >a{
		margin-left: 100px;
	}

	#burger {
		box-sizing: initial;
		display: block;
		width: 1rem;
		color: #000000;
		cursor: pointer;
		margin-bottom: 0.5em;
	}

	#burger:focus {
		border: none;
		outline: none;
	}

	nav {
		position: absolute;
		right: 0;
		top: 3em;
		background: #ea580c;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		clip-path: circle(0% at 100% 0);
		transition: all 500ms ease-in-out;
		border-radius:5px;
		z-index:5;
		
	}

	nav.show {
		clip-path: circle(300% at 100% 0);
		transition-duration: 300ms;
		z-index:999;
	}
	nav ul {
		flex-direction: column;
		background-color: #ea580c;
		padding-bottom:10px;
		position:relative;
		
	}
	.navbar li{
		background-color: #ea580c;
	}
	.navbar a{
		background-color: transparent;
		color:white;
	}
    
	}
	@media (max-width: 600px){
    
		nav {
			position: absolute;
			right: 0;
			top: 3em;
			background: #ea580c;
			box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
			clip-path: circle(0% at 100% 0);
			transition: all 500ms ease-in-out;
			border-radius:5px;
			
		}
        .navbar .dropdown{
            background: transparent;
        }
	}

*/
/*hero section stylling beign*/
/*
.hero_section{
    width:auto;
    height:500px;
    background: #fff9f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero_section .hero_content{
    width: 80%;
    max-width: 550px;
    height:auto;
    margin-left:55px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.hero_content h1{
    font-size: 35px;
    font-weight: 600;
}

.hero_content p{
    font-size: 20px;
    color: #5a6883;
    margin-top: 20px;
}

.hero_content button{
    height:40px; 
    background-color: #163D88;
    border-radius: 50px;
    color:white;
    font-weight: 600;
    font-size:15px;
    border:none;
    margin-top: 20px;
    width: 150px;
}

.hero_section .hero_image{
    width: 80%;
    max-width: 550px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
}

.hero_image img{
    width:100%;
    height:auto;
    object-fit:cover;
}

@media only screen and (max-width: 768px) {

    .hero_section{
        flex-direction: column;
        height: auto;
        padding: 50px 0;
    }

    .hero_section .hero_content{
        width: 90%;
        max-width: none;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }

    .hero_section .hero_image{
        width: 90%;
        max-width: none;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 480px) {

    .hero_content h1{
        font-size: 24px;
    }
    .hero_content h3{
        font-size: 18px;
    }

    .hero_content p{
        font-size: 14px;
    }

    .hero_content button{
        font-size: 14px;
        width: 100px;
    }

}
*/
.banner {
    background-color: #fff9f0;
    color: #f1f1f1;
    height: 100vh;
  }
  .container {
    height: 100vh;
  }
  .row {
    align-items: center;
    height: 100vh;
    overflow:hidden;
  }
  .btn {
    padding: 0.5em 1.5em;
    border-radius: 2em;
    background:#1b56c5;
    color:white;
    border:none;
  }
  
  @media screen and (min-width: 769px) {
    p {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 768px) {
    .banner {
      padding: 2em;
      text-align: center;
      height:auto;
    }
  }
  @media screen and (max-width: 567px) {
    img {
      width: 70%;
      height:70%;
    }
  }
  

/*hero section ending*/

/*about us section beginning*/
.about_us{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom:50px;
}

.about_us .about_image{
    width: 60%;
    height: auto;
    margin-left: 5%;
}

.about_image img{
    width: 100%;
    height: 90%;
    object-fit: fit;
}

.about_us .about_content{
    width: 35%;
    height: auto;
}

.about_content h4{
    color: #1b56c5;
    font-size: 2vw;
}

.about_content h1{
    font-weight: 600;
    font-size: 3.5vw;
}

.about_content p{
    font-weight: 600;
    color: #5a6883;
}

.about_content button{
    width: 30%;
    height: 7%;
    border-radius: 100px;
    background-color: #e6b966;
    font-weight: 600;
    border: none;
    font-size: 1.5vw;
    color: white;
    margin-top: 4%;
    margin-left: 4%;
}


/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    .about_us{
        flex-direction: column;
        margin-top: 10%;
        margin-bottom:50px;
    }

    .about_us .about_image{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .about_us .about_content{
        width: 80%;
    }

    .about_content h4{
        font-size: 3.5vw;
        text-align: center;
    }

    .about_content h1{
        font-size: 6vw;
        text-align: center;
        margin-bottom: 5%;
    }

    .about_content p{
        font-size: 3vw;
        text-align: center;
    }

    .about_content button{
        width: 40%;
        height: 10%;
        font-size: 2.5vw;
        margin-top: 5%;
        margin-left: 30%;
        margin-right: auto;
    }
}


/* Media queries for even smaller screens */
@media only screen and (max-width: 480px) {
    .about_us{
        margin-top: 15%;
        margin-bottom:50px;
    }

    .about_us .about_image{
        width: 90%;
        margin-bottom: 10%;
    }

    .about_us .about_content{
        width: 90%;
    }

    .about_content h4{
        font-size: 5vw;
        text-align: center;
    }

    .about_content h1{
        font-size: 8vw;
        text-align: center;
        margin-bottom: 10%;
    }

    .about_content p{
        font-size: 4vw;
        text-align: center;
    }

    .about_content button{
        width: 30%;
        height: 15%;
        font-size: 3vw;
        margin-top: 10%;
        margin-left:125px;
        margin-right: auto;
    }
}

/*about us section ending */

/*our services section begin*/
@media (max-width:768px){
    .our_services{
        width:100%;
        height:auto;
        margin-top:50px;
    }
    
.our_services h1:first-child{
   font-size: 6vw;
}
.our_services .services_title{
    font-size: 3vw;
}
   .our_services .services_tiles{
    width:100%;
    min-height:1300px;
    display: flex;
    flex-direction: column;
}

.services_tiles .services:first-child{
   margin-top:20px;
   margin-left:0px;
}
.services:nth-child(odd){
    margin-top:15px;
}
.services:nth-child(even){
    margin-top:15px;
}
}
    
/*our services media queiry*/

.our_services h1:first-child{
    width:100%;
    height:50px;
    font-weight:600;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#5a6883
}
.our_services .services_title{
    width:100%;
    height:120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.our_services .services_title h1{
       word-wrap: break-word;
       display: flex;
       width:60%;
       font-size: 2em;
}
.our_services .services_tiles{
    width:100%;
    height:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.services_tiles .services{
    width:250px;
    height:400px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services .services_image img{
    width:80px;
    height:80px;
    object-fit: fit;
    margin-top:10px;
}
.services h4{
    font-weight: 600;
}
.services p{
    text-align:center;
    font-weight:600;
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.services section .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ce9822;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ecb44b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.services:first-child{
    margin-left:65px;
}
/*our services section ending*/

/*our oath testimonial section beign*/
.our_oath_testimonial_section{
    width:100%;
    height:500px;
    margin-top:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.our_oath_testimonial_section .our_oath_text{
    width:550px;
    height:450px;
    margin-left:55px;
}
.our_oath_text h4{
    color:#081C41;
    font-size:18px;
    font-weight:600;
    text-decoration: underline;
}
.our_oath_text h1{
    font-weight:600;
}
.our_oath_text p{
    font-weight:500;
}
.our_oath_testimonial_section .our_oath_images{
    width:550px;
    height: 100%;
    display: flex;
}
.our_oath_images .msgpop1{
    width:100%;
    height:100%;
}
.msgpop1 .msg1{
    width:80%;
    height:170px;
    border-radius: 15px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.msgpop1 .msg2{
    width:80%;
    height:170px;

    margin-top:75px;
    border-radius: 15px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.our_oath_images .msgpop2{
    width:100%;
    height:100%;
}
.msgpop2 .msg3{
    width:80%;
    height:170px;
    margin-top:75px;
    border-radius: 15px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.msgpop2 .msg4{
    width:80%;
    height:170px;
    margin-top:35px;
    border-radius: 15px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*our oath testimonial section ending*/

/*blog section styling begin*/
.blog_section{
    width:100%;
    height:500px;
    background-color: white;
}
.blog_section .blog_section_title{
    width:100%;
    height:120px;
}
.blog_section_title{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   text-align: center;

}
.blog_section_title h3, h2{
   font-weight: 600;

}
.blog_section_title h2{
    margin-top:-15px;
    font-size:35px;
}
.blog_section .blog_tiles_section{
    width:100%;
    height:300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blog_tiles_section .blog_tiles{
    width:400px;
    height:300px;
   
}
.blog_tiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog_tiles img{
    width:350px;
    height:200px;
    object-fit:contain;
}
.blog_tiles p{
    font-weight: bold;
    color:#5a6883;
}
.blog_tiles .blog_section_tiles a{
    text-decoration: none;
    color:#ce9822;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .blog_section{
    height:auto;
  }
  .blog_section .blog_section_title{
    height: 80px;
  }
  .blog_section_title h2{
    font-size:30px;
  }
  .blog_section .blog_tiles_section{
    flex-wrap: wrap;
    height: auto;
  }
  .blog_tiles_section .blog_tiles{
    width: 45%;
    margin-bottom: 30px;
  }
  .blog_tiles:nth-child(even){
    margin-bottom:50px;
  }
  .blog_tiles img{
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 576px) {
  .blog_section{
    height:auto;
    margin-bottom:-550px;
    margin-top:50px;
  }
  .blog_section .blog_section_title{
    height: 60px;
  }
  .blog_section_title h2{
    font-size:25px;
  }
  .blog_tiles_section .blog_tiles{
    width: 80%;
    margin-bottom: 30px;
  }
  .blog_tiles:nth-child(even){
    margin-bottom:50px;
  }
  .blog_tiles img{
    width: 100%;
    height: auto;
  }
}


/*blog section styling ending*/

/*contact us section beiginng*/
@media only screen and (max-width: 1200px) {
    .contact_us_section {
      flex-wrap: wrap;
      height: auto;
      text-align: center;
      margin-top:50px;
    }
    .contact_us_section .contact_us_forms {
      width: 100%;
      max-width: 550px;
      margin-left: 0;
      margin-top: 30px;
    }
    .contact_us_image form input{
        margin-top:15px;
    }
    .contact_us_image form input:nth-child(odd){
        margin-left:15px;
    }
    .contact_us_image form input:nth-child(even){
        margin-left:-25px;
    }
    .contact_us_section .contact_us_image {
      width: 100%;
      max-width: 600px;
      margin-top: 30px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .contact_us_image h4{
        margin-top:-150px;
    }
    .contact_us_forms img {
      display: none;
      margin-left:-50px;
      margin-top:200px;
      object-fit:contain;
    }
    .contact_us_image form{
        margin-top:0px;
    }
  }
  

/*contact us seciton media queries ending*/
.contact_us_section{
    width:100%;
    height:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact_us_section .contact_us_forms{
    width:550px;
    height:500px;                
    margin-left:70px;
}
.contact_us_forms img{
    width:100%;
    height:100%;
    object-fit:fit;
}
.contact_us_section .contact_us_image{
    width:600px;
    height:500px;        
    border: 1px solid black;             
}
.contact_us_image h4{
    margin-top: 20px;
}

.contact_us_image form input{
   width:250px;
   height:35px;
}

/*contact us section ending*/

/*footer section styling begin*/
/*
@media only screen and (max-width: 768px) {
    .footer_section {
      flex-direction: column;
      min-height: 700px;
      padding: 20px;
      margin-top:300px;
      background-color: #0087ca;
    }
    
    .footer_section .footer_logo {
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .footer_section .footer_scribe {
      margin-bottom: 20px;
    }
  
    .getintouch,
    .quick_links {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .getintouch h4,
    .getintouch p {
      text-align: center;
    }
    .quick_links h4{
        margin-left: -25px;
        margin-bottom: 30px;
    }
  
    .quick_links ul {
      padding: 0;
      margin-top: 20px;
      
    }
  
    .quick_links ul li {
      margin-left:30px;
    }
  
    .quick_links ul li:first-child {
      margin-top: 20px;
    }
    
    .quick_links ul li a{
      color:white;
      text-decoration: none;
      display:block;
      padding:5px;
    }
    
    .quick_links h4{
      margin: 0;
    }
  }
  */
  /* Media Queries for screens between 768px and 1024px (small desktop screens) */
  /*@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_section .footer_scribe form input {
      width: 150px;
    }
    .footer_scribe form button {
      width: 80px;
    }
  }
  */
  /* Media Queries for screens larger than 1024px (large desktop screens) */
 /* @media only screen and (min-width: 1024px) {
    .footer_section {
      height: 200px;
    }
  
    .getintouch,
    .quick_links{
      width: 33.33%;
    }
  }
  
*/
/*footer section styling begin*/
/*.footer_section{
    width:100%;
    height:250px;
    background-color: #6788c5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_section .footer_logo{
    width:250px;
    height:150px;
    margin-left:30px;
}
.footer_logo img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.footer_section .footer_scribe{
    width:200px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.footer_scribe form input{
    background-color: transparent;
    border:1px solid white;
    width:200px;
    height:40px;
    border-radius:10px;
}
.footer_scribe form button{
    width:100px;
    height:auto;
    border:1px solid white;
    background-color: transparent;
    color:white;
    font-weight: 600;
    border-radius: 100px;
    margin-top:5px;
}
.footer_section .getintouch{
    width:200px;
    height:150px;
}
.getintouch h4,p{
    color:white;
    font-weight:500;
}
.footer_section .quick_links{
    width:200px;
    height:150px;
}
.quick_links h4{
    color:white;    
    margin-left:35px;
}
.quick_links ul li{
    list-style: none;
    color:white;
    text-align: left;
}
.quick_links li a{
    color:white;
    text-decoration: none;
}
.quick_links ul li:first-child{
    margin-top:-10px;
}
/*footer section styling ending*/

.footer{
    width:100%;
    height:450px;
    border:1px solid black; 
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:50px;
    justify-content: space-evenly;
    align-items: center;
}
.footer .footer_sections{
    width:250px;
    height:350px;
    border:1px solid black;
}
@media only screen and (max-width: 768px) {
    .footer{
        margin-top:550px;
        height:1650px;
        grid-template-columns: auto;
    }
}