*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Maiandra GD', sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;
}
/*vertical lines section*/
body{
box-sizing:border-box;
}
.body_of_vetting{
    width:100%;
    height:auto;
    background-color: #fff9f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body_of_vetting h1{
    font-weight: 900;
    font-size: 3vw;
    margin-top:25px;
}
.body_of_vetting p{
    font-weight: bold;
}
.vetting_process{
    width:100%;
    height:auto;
    background-color: #fff9f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vetting_process .vetting_precess_text{
    width:40%;
    height:auto;
}
.vetting_precess .vetting_process_img{ 
 width:350px;
 height:200px;
}
.vetting_process_img img{
    width:300px;
    height:200px;
    object-fit: contain;
}

/*media queiries for vetting process*/
@media only screen and (max-width: 768px){
    .body_of_vetting{
        width:100%;
        height:auto;
        background-color: #fff9f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body_of_vetting h1{
        font-weight: 900;
        font-size: 6vw;
        margin-top:25px;
    }
    .body_of_vetting p{
        font-weight: bold;
        font-size: 3vw;
    }
    .vetting_process{
        width:100%;
        height:auto;
        background-color: #fff9f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .vetting_process:nth-child(odd){
        flex-direction: column-reverse;
    }
    .vetting_process .vetting_precess_text{
        width:auto;
        height:auto;
        margin:25px;
    }
    .vetting_precess .vetting_process_img{ 
     width:350px;
     height:200px;
    }
    .vetting_process_img img{
        width:300px;
        height:200px;
        object-fit: contain;
    }
    .conatctus_vetting{
        margin-top:-550px;
    }
    .about_vetting h1{
        font-size: 8vw;
    }
    .vetting_procedure{
        display: flex;
        flex-direction: column;
    }
}
/*about vetting process*/
.about_vetting{
    width:100%;
    height:auto;
    text-align: center;
}
.vetting_procedure{
    width:80%;
    height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.vetting_procedure section{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:250px;
    height:150px;
    border-left:2px solid #1b56c5;
}
.vetting_procedure section h4, p{
    margin-left:15px;
}